<IfModule mod_include.c>
    <FilesMatch "\.cbd\.js$">
        Options +Includes
        AddOutputFilterByType INCLUDES application/javascript \
                                    application/x-javascript \
                                    text/javascript
        SetOutputFilter INCLUDES
    </FilesMatch>
    <FilesMatch "\.cbd\.css$">
        Options +Includes
        AddOutputFilterByType INCLUDES text/css
        SetOutputFilter INCLUDES
    </FilesMatch>
</IfModule>
